* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabecalho {
    width: 80%;
    display: flex;
    align-items: center;
    padding-top: 1.15em;
    padding-bottom: 1em;
    margin: auto;
}

.logo img{
    max-height: 6em;
    max-width: 9em;
    background-color: white;
    cursor: pointer;
}

.menu {
    font-weight: 600;
    font-size: 1.2em;
    color: #233d4d;
    padding-left: 20em;
}

.menu a {
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #657782;
}

.slide {
    display: flex;
    background-color: #83B1BC;
    height: 30.1em;
}

.slide .caixa {
    margin-top: 5em;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 60%;
    margin-left: 11em;
}

.slide .titulo { 
    color: white;
    font-size: 3em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.8em;
}

.slide .texto {
    color: white;
    font-size: 1.1em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
}

.slide img{
    margin-bottom: -1em;
    height: 29em;
    float: right;
}

.camisetas-tradicionais {
    background-color: #F2C246;
    margin-top: -1em;
    height: 57em;
}

.camisetas-tradicionais .conteudo {
    display: flex;
    width: 80%;  
    padding-top: 5em;
    margin-left: 10em; 
}

.camisetas-tradicionais img {
    height: 43em;
    cursor: pointer;
    border: solid 1.5em #FCCA46;
}

.camisetas-tradicionais .titulo {
    padding-left: 1.5em;
    color: white;
    font-size: 4.3em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    cursor: pointer;
}

.camisetas-tradicionais .caixa {
    display: flex;
    align-items: center;
    width: 7.2em;
    height: 1.4em;
    background-color: white;
    margin-top: 0.5em;
    box-shadow: 2px 4px 18px -6px rgba(0,0,0,.3);
}

.camisetas-tradicionais .texto {
    color: #444444;
    font-size: 0.27em;
    height: 1em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

.camisetas-tradicionais .btn {
    width: 12em;
    height: 4em;
    background-color: #FE7F2D;
    border: none;
    color: white;
    cursor: pointer;
    font-family: montserrat,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.camisas-polo {
    height: 65em;
    display: flex;
    background-image: linear-gradient(90deg,#ffffff 87%,#45b6aa 0%)
}

.camisas-polo .conteudo {
    display: flex;
    align-items: center;
    width: 80%;  
    padding-top: 5em;
    margin-left: 2em; 
}

.camisas-polo .titulo {
    width: 50%;
    padding-left: 1.5em;
    color:black;
    font-size: 4.3em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    cursor: pointer;
}

.camisas-polo .caixa {
    display: flex;
    align-items: center;
    width: 7.2em;
    height: 1.4em;
    background-color: white;
    margin-top: 0.5em;
    box-shadow: 2px 4px 18px -6px rgba(0,0,0,.3);
}

.camisas-polo .texto {
    color: #444444;
    font-size: 0.27em;
    height: 1em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

.camisas-polo .btn {
    width: 12em;
    height: 4em;
    background-color: #FE7F2D;
    border: none;
    color: white;
    cursor: pointer;
    font-family: montserrat,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.camisas-polo .img {
    padding-left: 10em;
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 7em;
}

.camisas-polo img {
    float: left;
    height: 40em;
    cursor: pointer;
    border: solid 1.5em;
    bottom: 1em;
    border-color: transparent;
    box-shadow: 0 60px 80px -10px rgba(9,0,71,.15);
}

.camisetas-dry-fit {
    height: 42em;
    background-color: #233D4D;
}

.camisetas-dry-fit img {
    height: 29em;
    width: 43em;
    margin-left: -14.5em;
}

.camisetas-dry-fit .conteudo {
    display: flex;  
    padding-top: 5.5em; 
}

.camisetas-dry-fit .titulo {
    float: right;
    width: 60%;
    padding-left: 3rem;
    color:white;
    font-size: 4.3em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
    padding-bottom: 1em;
    cursor: pointer;
}

.camisetas-dry-fit .caixa {
    display: flex;
    align-items: center;
    width: 4.5em;
    height: 1.4em;
    background-color: white;
    margin-top: 0.5em;
    box-shadow: 2px 4px 18px -6px rgba(0,0,0,.3);
    margin-right: 0.7em;
}

.camisetas-dry-fit .texto {
    color: #444444;
    font-size: 0.27em;
    height: 1em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

.camisetas-dry-fit .btn {
    width: 12em;
    height: 4em;
    background-color: #FE7F2D;
    border: none;
    color: white;
    cursor: pointer;
    font-family: montserrat,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.camisetas-dry-fit .caixas {
    display: flex;
    margin-top: 1em;
}

.camiseta-estonada {
    height: 55em;
    display: flex;
    background-image: linear-gradient(90deg,#ffffff 87%,#FE7F2D 0%)
}

.camiseta-estonada .conteudo {
    display: flex;
    align-items: center;
    width: 80%;  
    margin-left: 2em; 
}

.camiseta-estonada .titulo {
    width: 50%;
    padding-left: 1.5em;
    color:#45B6AA;
    font-size: 4.3em;
    font-family: roboto condensed,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    cursor: pointer;
}

.camiseta-estonada .caixa {
    display: flex;
    align-items: center;
    width: 7.2em;
    height: 1.4em;
    background-color: white;
    margin-top: 0.5em;
    box-shadow: 2px 4px 18px -6px rgba(0,0,0,.3);
}

.camiseta-estonada .texto {
    color: #444444;
    font-size: 0.27em;
    height: 1em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

.camiseta-estonada .btn {
    width: 12em;
    height: 4em;
    background-color: #FE7F2D;
    border: none;
    color: white;
    cursor: pointer;
    font-family: montserrat,Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.camiseta-estonada .img {
    padding-left: 7.1em;
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.camiseta-estonada img {
    float: left;
    height: 40em;
    cursor: pointer;
    border: solid 1.5em;
    bottom: 1em;
    border-color: transparent;
    box-shadow: 0 60px 80px -10px rgba(9,0,71,.15);
}
